# Add any directories, files, or patterns you don't want to be tracked by version control
*.suo
*.ide
*.cache
*.pdb
*.exe
.vs/GeoFood/v15/Server/sqlite3/storage.ide-shm
.vs/GeoFood/v15/Server/sqlite3/storage.ide-wal
.vs/GeoFood/DesignTimeBuild/.dtbcache
GeoFood/bin/Debug/GeoFood.exe
GeoFood/bin/Debug/GeoFood.exe.config
GeoFood/bin/Debug/GeoFood.pdb
GeoFood/bin/Release/GeoFood.exe
GeoFood/bin/Release/GeoFood.exe.config
GeoFood/bin/Release/Newtonsoft.Json.dll
GeoFood/bin/Release/Newtonsoft.Json.xml
GeoFood/bin/Debug/Newtonsoft.Json.dll
GeoFood/bin/Debug/Newtonsoft.Json.xml
GeoFood/bin/Debug/Yelp.Api.dll
GeoFood/bin/Release/Yelp.Api.dll
GeoFood/obj/Debug/GeoFood.csproj.CoreCompileInputs.cache
GeoFood/obj/Debug/GeoFood.csproj.FileListAbsolute.txt
GeoFood/obj/Debug/GeoFood.csproj.GenerateResource.Cache
GeoFood/obj/Debug/GeoFood.exe
GeoFood/obj/Debug/GeoFood.pdb
GeoFood/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
GeoFood/obj/Release/GeoFood.csproj.CoreCompileInputs.cache
GeoFood/obj/Release/GeoFood.csproj.FileListAbsolute.txt
GeoFood/obj/Release/GeoFood.csproj.GenerateResource.Cache
GeoFood/obj/Release/GeoFood.exe
GeoFood/obj/Release/GeoFood.Properties.Resources.resources
*.pdb
*.exe
